@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    display: flex;
    flex-wrap: wrap;
}
@font-face {
    font-family: Inter;
    src: url("../font/Inter.ttf") format("opentype");
  }